{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5" style="max-width:500px;">
    <h2>Connexion</h2>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label>Email</label>
            <input type="email"
                   name="_username"
                   value="{{ last_username }}"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Mot de passe</label>
            <input type="password"
                   name="_password"
                   class="form-control"
                   required>
        </div>

        <button class="btn btn-primary w-100">Se connecter</button>
    </form>
</div>
{% endblock %}